@import url("layout.css");

/** BASIC */
body {
	margin: 0px;
	padding: 0px;
	background: #310003 url(../images/layout/bg01.gif) repeat-x left top;
}

/** FORMS */
form {
	margin: 0px;
	padding: 0px;
}

/** HEADINGS */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

h2 {
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 15px;
	font-weight: normal;
	color: #FBD6C6;
}

h3 {
	font-size: 11px;
	font-weight: normal;
	color: #FBD6C6;
}

h4 {
	font-size: 10px;
	color: #8F5853;
}

/** TEXTS */
body,th,td,input,textarea,select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #C39586;
}

p,blockquote,ul,ol,dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
	line-height: 16px;
}

.text1 {
	font-size: 11px;
	font-weight: bold;
	color: #FFCAB2;
}

.text2 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/homepage05.jpg) no-repeat left top;
}

.text3 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/homepage07.gif) no-repeat left top;
}

.text4 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/homepage06.jpg) no-repeat left top;
}

.text5 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/homepage16.jpg) no-repeat left top;
}

.text6 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/homepage20.jpg) no-repeat left top;
}

.text7 {
	text-align: center;
	color: #704745;
}

.text8 {
	height: 26px;
	padding: 8px 0px 0px 17px;
	background: url(../images/layout/subpage2_01.jpg) no-repeat left top;
}

/** LISTS */
.list1 {
	margin-left: 0px;
	padding: 0px;
	list-style: none;
}

.list1 li {
	padding: 5px 0px 8px 0px;
	background: url(../images/layout/homepage21.gif) repeat-x left top;
}

.list1 .first {
	background: none;
}

/** LINKS */
a {
	color: #F9C9B2;
}

a:hover {
	text-decoration: none;
}

.link1 {
	text-transform: lowercase;
	text-decoration: none;
	font-size: 12px;
	color: #FFF2EB;
}

.link1:hover {
	text-decoration: underline;
}

.link2 {
	display: block;
	padding: 5px 0px;
	text-align: center;
	background: url(../images/layout/homepage21.jpg) repeat left top;
}

.link3 {
	padding-left: 13px;
	background: url(../images/layout/homepage17.gif) no-repeat left center;
}

/** STYLES */
.style1 {
	
}

.style1 {
		display: block;
	padding: 5px 0px;
	text-align: center;
	background: url(../images/layout/homepage21.jpg) repeat left top;
}

.style1 a:hover {
	
}

/** BACKGROUNDS */
.bg1 {
	background: url(../images/layout/bg04.jpg) no-repeat left top;
}

.bg2 {
	background: url(../images/layout/bg05.jpg) no-repeat left top;
}

.bg3 {
	background: url(../images/layout/bg07.gif) no-repeat left top;
}

.bg4 {
	background: #471815 url(../images/layout/homepage08.gif) no-repeat left bottom;
}

.bg5 {
	background: url(../images/layout/homepage18.jpg) no-repeat left top;
}

.bg6 {
	background: url(../images/layout/homepage19.jpg) no-repeat left top;
}

.bg7 {
	background-image: url(../images/layout/subpage1_03.gif);
}

/** MISC */
.align-justify {
	text-align: justify;
}

.align-right {
	text-align: right;
}

img {
	border: none;
}

.img1 {
	float: left;
	margin: 3px 15px 0px 0px;
}

.img2 {
	float: right;
	margin: 3px 0px 0px 15px;
}

hr {
	display: none;
}

.hr1 {
	height: 1px;
}